body {
    background-color: gray;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

 #links {
    display: flex;
    padding: 0pt;
    margin: 4%;
    justify-content: center;
 }

 .elementOfHomepage {
    padding: 20pt;
 }
