body {
    background-color: gray;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

 #links>a {
    float: center;
    display: incline-block;
    width: 0%;
    padding: 0;
    margin: 4%;
 }


